* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .Box {
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.458);
    border-radius: 8px;
    padding: 20px;
    margin: 200px auto;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .Container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .Container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .Container span {
    flex: 1;
    padding: 5px 10px;
  }
  
  .Container button {
    padding: 5px 10px;
    background-color: #dc3545;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .Container button:hover {
    background-color: #c82333;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  